!!!

head
    script(type="text/javascript").
        //workspace do basketball
        var basketball = {
            env_production: #{env.production},
            env_development: #{env.development},
            env_local: #{env.local},
            url: "#{env.url}",
            now: "#{env.now}"
        };

    block head
body
    block body