!!!

//(manifest="/cache.manifest")
html(manifest="/cache.manifest")

    head

        title Basketball

        meta(name="apple-mobile-web-app-capable",content="yes")

        script(type="text/javascript").
            //workspace do basketball
            var basketball = {
                env_production: #{env.production},
            env_development: #{env.development},
            env_local: #{env.local},
            url: "#{env.url}",
            now: "#{env.now}"
            };

        link(rel="apple-touch-icon",href="images/icon.png")

        link(rel="apple-touch-startup-image",href="images/splash.png")


        //Styles
        link(rel='stylesheet', href='/stylesheets/basketball.css')
        link(rel='stylesheet', href='/stylesheets/vendor/colorpicker.css')
        link(rel='stylesheet', href='/stylesheets/vendor/jquery-ui.css')

        script(src="/online.js")

        //- faz load do require.js
        script(src="/scripts/vendor/require.js")



        script(type="text/javascript").

            require.config({
                baseUrl: "/scripts",
                paths: {
                    //scripts
                    "jquery": "/scripts/vendor/jquery",
                    "jquery-ui": "/scripts/vendor/jquery-ui",
                    "jquery-ui.touch": "/scripts/vendor/jquery-ui.touch",
                    "jquery.form": "/scripts/vendor/jquery.form",
                    "jquery.easing": "/scripts/vendor/jquery.easing",
                    "jquery.inputmask": "/scripts/vendor/jquery.inputmask",
                    "jquery.inputmask.date": "/scripts/vendor/jquery.inputmask.date",
                    "jquery.inputmask.numeric": "/scripts/vendor/jquery.inputmask.numeric",
                    "underscore": "/scripts/vendor/underscore",
                    "backbone": "/scripts/vendor/backbone",
                    "backbone.offline": "/scripts/vendor/backbone.offline",
                    "underscore.mixin.deepExtend": "/scripts/vendor/underscore.mixin.deepExtend",
                    "deep-models": "/scripts/vendor/deep-models",
                    "spin": "/scripts/vendor/spin",
                    "colorpicker": "/scripts/vendor/colorpicker",
                    "modernizr": "/scripts/vendor/modernizr",
                    "moment": "/scripts/vendor/moment",
                    "accounting": "/scripts/vendor/accounting",


                    "Basketball": "/scripts/basketball/basketball",
                    "Routes": "/scripts/basketball/routes",
                    "Views": "/scripts/basketball/views",
                    "Models": "/scripts/basketball/models",
                    "Startup": "/scripts/basketball/startup",
                    "Utils": "/scripts/basketball/utils"

                },
                shim: {
                    'underscore': {
                        exports: '_'
                    },
                    'backbone': {
                        deps: ['underscore', 'jquery'],
                        exports: 'Backbone'
                    },
                    'backbone.offline': {
                        deps: ['underscore', 'backbone'],
                        exports: 'Offline'
                    },
                    'deep-models': {
                        deps: ['backbone','underscore','underscore.mixin.deepExtend'],
                        exports: 'Backbone'
                    },
                    'colorpicker':{
                        deps: ['jquery']
                    },
                    'jquery-ui':{
                        deps: ['jquery']
                    },
                    'jquery-ui.touch':{
                        deps: ['jquery','jquery-ui']
                    },
                    'jquery.form':{
                        deps: ['jquery']
                    },
                    'modernizr':{
                        exports: 'Modernizr'
                    },
                    'moment':{
                        exports: 'moment'
                    },
                    'jquery.inputmask':{
                        deps: ['jquery']
                    },
                    'jquery.inputmask.numeric':{
                        deps: ['jquery','jquery.inputmask']
                    },
                    'jquery.inputmask.date':{
                        deps: ['jquery','jquery.inputmask']
                    },
                    'accounting':{
                        exports: 'accounting'
                    }
                }
            });

        //- nesse bloco que as páginas definem as dependências usando require.js

        script(type="text/javascript").
            requirejs.onError = function(e){
                console.log(e);
            }
            //faz load do aplicativo Customer (para funcionar direito só pode ter o load da Store aqui)
            require(['Basketball']);

    body(style="display:none;")

        div#main
            div#top
            div#mid
            div#bot
        block main-page

